.beautiful{
  padding: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  &__wrap{}
  &__title{
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 72px;
    font-weight: 200;
  }
  &__text{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    max-width: 450px;
  }
}
