@import "variables.scss";

html, a, button{
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: $container-width;
  margin: 0 auto;
}

.wrap{
  margin: 0 auto;
  max-width: 1200px;
}

.content{
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
