@import './core/core';
@import './core/fonts';
@import './core/normalize';
@import './core/variables';
@import './core/mixins';


@import './components/socials';
@import './components/navigation';

@import './components/header';
@import './components/projects';
@import './components/studio';
@import './components/news';
@import './components/footer';

